@use '../../global/styles' as sbb;

// Default component properties, defined for :host. Properties which can not
// travel the shadow boundary are defined through this mixin
// FIXME draft, to be checked
@include sbb.host-component-properties;

:host {
  display: inline-block;
}

.sbb-calendar__wrapper {
  width: 280px;
  display: block;
}

.sbb-calendar__controls {
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: var(--sbb-spacing-fixed-2x);
  margin-block-end: var(--sbb-spacing-fixed-4x);
}

.sbb-calendar__controls-month {
  width: 100%;
  text-align: center;
}
